<p id="notice"><%= notice %></p>

<div class="span12">
<div class="row">
<h1><%= @post.title %></h1>
<p><%= raw markdown(@post.content) %></p>
</div>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_post_path(@post), :class => 'btn' %> |
<% end %>

<%= @post.name %>
<div class="row">
  <%= render :partial => 'tags/tag', :collection => @post.tags %>
</div>
<div class="row">
<h3>Comments</h3>
<ul class="media-list">
<%= render @post.comments %>
</ul>
<h3>Add a comment:</h3>
<%= render "comments/form" %>
</div>

</div>

