<% content_for :breadcrumb do %>
  <li><%= link_to "Home", root_path %><span class="divider">/</span></li>
  <li class="acive"><%= @post.title %></li>
<% end %>
<% content_for :title do %>
  <%= @post.title %>
<% end %>

<div class="jumbotron">
  <h1><%= @post.title %></h1>
</div>
<div class="container">
  <div class="row">
    <%= raw markdown(@post.content) %>
    <% if user_signed_in? %>
    <p>
      <%= link_to 'Edit', edit_post_path(@post), :class => 'btn' %> |
    </p>
    <% end %>
  </div>

  <div class="row">
    <ul class="media-list gallery">
    <%= render :partial => 'photos/photo', :collection => @post.photos %>
    </ul>
  </div>
  <p>Tags: 
    <%= render :partial => 'tags/tag', :collection => @post.tags %> 
    | <i class="icon-user"></i> <%= @post.name %>
  </p>
  <div class="row">
  <h3>Comments</h3>
  <ul class="media-list">
  <%= render @post.comments %>
  </ul>
  </div>
  <div class="row">
  <h3>Add a comment:</h3>
  <%= render "comments/form" %>
  </div>
</div>

<% content_for :javascript do %>
<script type="text/javascript">
  $('.gallery').magnificPopup({
    delegate: 'a', // child items selector, by clicking on it popup will open
    type: 'image',
    gallery: {enabled:true}
    // other options
  });
</script>
<% end %>