<li class="media">
  <a class="pull-left" href="<%= photo.image_url.to_s %>" title="<%= raw markdown(photo.caption) %>">
    <%= image_tag photo.image_url(:thumb).to_s, :class => "img-polaroid" %>
  </a>
  <div class="media-body">

  <% if can? :manage, photo %>
      <%= form_for([@post, photo]) do |f| %>
        <%= f.hidden_field :id %>
        <%= f.hidden_field :post_id %>
        <div class="field">
        <%= f.text_area :caption %>
        </div>
        <div class="actions">
        <%= f.submit %>
      </div>
      <% end %>
    <%= link_to 'Destroy photo', [photo.post, photo],
                 :confirm => 'Are you sure?',
                 :method => :delete,
                 :class => 'btn btn-mini btn-danger' %>
  <% else %>
      <p><%= raw markdown(photo.caption) %></p>  
  <% end %>

  </div>
</li>