<p id="notice"><%= notice %></p>

<div class="span12">
<div class="row">
<h1><%= @post.title %></h1>
<p><%= raw markdown(@post.content) %></p>
</div>

<%= @post.name %>
<div class="row">
  <%= render :partial => 'tags/tag', :collection => @post.tags %>
</div>
<div class="row">
<h2>Comments</h2>
<%= render @post.comments %>

<h2>Photos</h2>
<%= render @post.photos %>

<h2>Add a Picture:</h2>
<%= render "photos/form" %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>

