<% content_for :breadcrumb do %>
  <li><%= link_to "Home", home_path %><span class="divider">/</span></li>
  <li class="active">Search : <%= @search %></li>
<% end %>
<div class="row-fluid">
    <h1><%=t 'search.title' %>
    <small><%=t 'search.for' %><%= @search %></small>
    </h1>
</div>
<hr>
<div class="row-fluid">
  <% if @posts.empty? %>
    <div class="span12">
      <p class="lead text-center"><%=t "search.no_result"%> :-(</p>
    </div>
  <% else %>
    <%= render :partial => 'posts/post_list' %>  
    <div class="digg_pagination">
      <%= will_paginate @posts %>
    </div>
  <% end %>
</div>